.row{
    padding: 20px;
    background-color: #80a6ff;
    box-shadow: 2px -2px 5px #f0f0f0 ;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #80a6ff;
    box-shadow: ejeX ejeY difumasion color;
}
h2{
   text-align: left; 
}
button{
    text-align: right;
}
.space {
    width: 10px;
    height: auto;
    display: inline-block;
  }