<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proy">
                    <td>
                        <h2>{{Proyecto.nombre}}
                            <button *ngIf="isLogged" class="btn btn-light" routerLink="/editproy/{{Proyecto.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                            <div class="space">
                            </div>
                            <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Proyecto.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </h2>
                        <img src={{Proyecto.imgp}} style="float: right;" class="img-fluid" id="imgp" width="250px">
                        <a>{{Proyecto.descripcion}}</a>
                        <br>
                    </td>
                    <br><br>
                    
                </tr>
            </tbody>
        </table>
    </div>

</div>